body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.menu {
    border: 1px solid #ccc;
    padding: 10px;
    width: 30%;
}

.menu h2 {
    text-align: center;
}

.menu button {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

#combine-button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}
