.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.game-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.discovered-container, .elements-container, .selected-container {
    width: 30%;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
}

.discovered-container h2, .elements-container h2, .selected-container h2 {
    background-color: #4CAF50;
    color: white;
    padding: 8px;
    margin-top: 0;
}

.element {
    display: block;
    margin-bottom: 5px;
}

.selected-container {
    position: relative; /* Make the container relative for absolute positioning */
}

.selected-container ul {
    list-style-type: none;
    padding: 0;
}

.selected-container li {
    margin-bottom: 5px;
}

button#combine-btn {
    position: absolute;
    bottom: -30px; /* Adjust as needed for spacing */
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button#combine-btn:hover {
    background-color: #45a049;
}
