.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.discovered-container, .elements-container, .selected-container {
    width: 30%;
    margin-bottom: 20px;
}

.element {
    display: block;
    margin-bottom: 5px;
}

.selected-container, .discovered-container {
    border: 1px solid #ccc;
    padding: 10px;
}

button#combine-btn {
    margin-top: 10px;
}
